body {
  background: rgb(58, 58, 58);
}

/* If your custom theme doesn't properly support dark mode, you can easily hide the toggle button */
.fa-toggle-off {
  display: none;
}

/* This styling applies also to the doughnut charts */
.ambiguous-color {
  color: #aaaaaa !important;
}

.failed-color {
  color: #ff0000 !important;
}

.not-defined-color {
  color: #0000ff !important;
}

.passed-color {
  color: #00ff00 !important;
}

.pending-color {
  color: #ffaa33 !important;
}

.skipped-color {
  color: #770077 !important;
}

/* backgrounds */
.ambiguous-background {
  background: #aaaaaa !important;
}

.failed-background {
  background: #ff0000 !important;
}

.not-defined-background {
  background: #0000ff !important;
}

.passed-background {
  background: #00ff00 !important;
}

.pending-background {
  background: #ffaa33 !important;
}

.skipped-background {
  background: #770077 !important;
}
