{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "reporter": ["text", "lcov", "html"],
  "include": ["src/**/*.ts"],
  "exclude": ["src/test/**/*.ts", "node_modules", "lib/", "test/"],
  "extension": [".ts"]
}
