body {
    color: #73879C;
    background: #F7F7F7;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.main_conainer {
    padding: 10px 20px 0;
}

i span {
    display: none;
}

/* Navigation */
nav.navbar {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
}

nav .navbar-brand {
    border-right: 1px solid #D9DEE4;
    color: #5A738E;
}

nav .navbar-text {
    font-size: 18px;
    height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 0;
}

/* Table */
table {
    width: 100%;
}

table.chart tr th:first-of-type {
    width: 33.333%;
}

.table > thead > tr > th {
    background: #F5F7FA;
}

table.tile h3, table.tile h4, table.tile span {
    font-weight: bold;
    vertical-align: middle !important;
}

table.tile th, table.tile td {
    text-align: center;
}

table.tile th {
    border-bottom: 1px solid #E6ECEE;
}

table.tile td {
    padding: 5px 0;
}

table.tile td ul {
    text-align: left;
    padding-left: 0;
}

table.tile td ul li {
    list-style: none;
    width: 100%;
}

table.tile td ul li a {
    width: 100%;
}

table.tile td ul li a big {
    right: 0;
    float: right;
    margin-right: 13px;
}

table.tile_info {
    width: 100%;
}

table.tile_info td {
    text-align: left;
    padding: 1px;
    font-size: 15px;
}

table.tile_info td p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 28px;
}

table.tile_info td i {
    display: inline-block;
    margin-right: 8px;
    font-size: 17px;
    float: left;
    width: 18px;
    line-height: 28px;
    text-align: center;
}

table.tile_info td:first-child {
    width: 65%;
}

td span {
    line-height: 28px;
}

table.tile_info td.percentage {
    text-align: right;
}

/* chart in table */
table td.chart {
    display: inline-block;
    position: relative;
}

table td.chart #feature-chart,
table td.chart #scenario-chart,
table td.chart .total {
    height: 140px;
    margin: 15px 10px 10px 0;
    width: 140px;
}

table td.chart .total {
    display: inline-block;
    position: absolute;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    top: 45px;
    left: 45px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

/* colors */
.ambiguous-color {
    color: #E74C3C !important;
}

.failed-color {
    color: #E74C3C !important;
}

.not-defined-color {
    color: #F39C12 !important;
}

.passed-color {
    color: #1ABB9C !important;
}

.pending-color {
    color: #FFD119 !important;
}

.skipped-color {
    color: #3498DB !important;
}

/* backgrounds */
.ambiguous-background {
    background: #b73122 !important;
}

.failed-background {
    background: #E74C3C !important;
}

.not-defined-background {
    background: #F39C12 !important;
}

.passed-background {
    background: #1ABB9C !important;
}

.pending-background {
    background: #FFD119 !important;
}

.skipped-background {
    background: #3498DB !important;
}

/* general */
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    font-size: 24px;
    font-weight: 400;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fixed_height_320 {
    height: 320px;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: #BDBDBD;
}

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    /* float: left; */
    clear: both;
    margin-top: 5px;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

.panel_toolbox {
    float: right;
    margin: 5px 0 0;
    min-width: 70px;
}

.panel_toolbox > li {
    float: right;
}

.panel_toolbox > li > a {
    cursor: pointer;
}

.panel_toolbox > li > a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.panel_toolbox > li > a:hover {
    background: #F5F7FA;
}

.page-title {
    width: 100%;
    padding: 10px 0 30px 0;
}

.page-title {
    display: block;
}

.page-title h1 {
    margin: 9px 0;
}

.page-title .title_right {
    width: 55%;
    float: left;
    display: block;
}

.page-title .title_right .pull-right {
    margin: 10px 0;
}

.page-title p {
    margin-left: 15px;
}

.dashboard-widget-content {
    padding-top: 9px;
}

.dashboard-widget-content .sidebar-widget {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: 1px solid #abd9ea;
    border-radius: 5px;
    text-align: center;
    float: right;
    padding: 2px;
    margin-top: 10px;
}

ul.quick-list {
    padding-left: 0;
    display: inline-block;
}

ul.quick-list li,
table.quick-list tr {
    padding-left: 10px;
    list-style: none;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul.quick-list li .meta-data-title,
table.quick-list td.meta-data-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}

ul.quick-list li span,
table.quick-list td {
    line-height: 28px;
}

ul.quick-list li,
table.quick-list tr {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}

ul.quick-list li:last-child,
table.quick-list tr:last-child {
    border-bottom: none;
}

ul.quick-list li i {
    padding-right: 10px;
    color: #757679;
}

/* Features / Scenarios */
ul.panel_toolbox li .step {
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 30px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    width: 30px;
}

.scenario-step-container {
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: auto;
    align-items: baseline;
}

.scenario-step-container .label {
    display: flex;
    text-align: center;
    width: 30px;
}

.scenario-step-container .text {
    display: inline;
}

.scenario-step-container .text .keyword.highlight {
    font-size: 1.2em;
    font-weight: 700;
    display:flex;
    margin-right: auto;
}

.scenario-scroll-bar {
    overflow-x: scroll;
}

.scenario-step-collapse,
.scenario-scroll-bar .arguments {
    margin-left: 30px;
    width: auto;
}

/* media */
@media (max-width: 1200px) {
    .x_title h2 {
        width: 70%;
    }
}

@media (max-width: 640px) {
    .x_title h2 {
        width: 100%;
    }
}

/* override */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #1ABB9C;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    background-color: #E74C3C;
}

.created-by {
    padding: 50px 0;
    text-align: center;
}

tr .accordion-toggle > tr > td .hiddenRow .collapsed {
    display:block;visibility:visible;
}

.hiddenRow  .collapsed {
    display:none; visibility:hidden;
}

.tags {
    text-align:left;
    display: flex;
    flex-direction: column;
    /* line-height: normal; */
}

span.tag{
    display: block;
    float: left;
    clear: left;
    color:black;
    /* line-height: normal; */
    font-size: normal;
    /* vertical-align: normal; */
}

.hiddenRow a.collapsed{
    visibility: visible;
    display: initial;
    margin-left: 10px;
    margin-right: 10px;
}

div.scenarioBlock{
    display:flex;
    flex-direction: row;
    align-items: center;
}

h1.scenarioName,
div.scenarioName {
    display: inline-block;
    color: #525D76;
    background-color: white;
    margin-top:auto;
    text-align: end;
    align-items: baseline;
}

div.scenarioName > h2.scenarioType{
    font-size: 24px;
    font-weight: 400;
    vertical-align:text-bottom;
    color: #525D76;
    background-color: white;
}

h2.scenarioType > small{
    background-color: white;
    color: #525D76;
    margin-left: 5px;
}

h2.scenarioTime{
    display:flex;
    margin-left: auto;
    color: white;
    background-color: #525D76;
    line-height: normal;
    margin-left: auto;
    margin-bottom: 0;
}

.scenarioResultsContainer{
    display: flex;
    flex-direction: row;
    line-height: normal;
    text-align: right; 
    margin-left: auto;
    margin-right: 0px;
    margin-top:auto;
    margin-bottom: 0;
    vertical-align:bottom;
    padding-left: 5px;
}

ul > li.scenarioOutlineToolBox{
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    display: flex;
    order: 1;
}

span.scenarioOutlineCircle {
    display: flex;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-bottom: 2px;
    line-height: normal;
}
span.scenarioOutlineCircle > p{
    font-size: 13px;
    background:#1ABB9C;
    margin:0;
    color:black;
}

table.custom_class {
    border:solid 5px #006CFF;
    margin:0px;
    padding:0px;
    border-spacing:0px;
    border-collapse:collapse;
    line-height:22px;
    font-size:13px;
    font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight:400;
    text-decoration:none;
    color:#0018ff; 
    white-space:pre-wrap;
    display: table;
    width:auto;
    border:"1";
    table-layout: fixed;
}
table.custom_class th {
  padding: 5px;
  background-color:#98dcff;
  border:solid 2px #006CFF;
  resize: both; 
  overflow: auto;
}
table.custom_class td {
  padding: 10px;
  border:solid 1px #006CFF;
  white-space: nowrap; 
  resize: both; 
  overflow: auto;
}
table.custom_class tr {
    margin:0;
    padding:1px;
}

div.tableContainer{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 1px 1px;
    display: inline-block;
    overflow-x:auto;
}

span.error{
    white-space: normal;
}

table#features-table td{
    border:solid 1px
}

table#features-table th{
    border:solid 2px;
    background-color: #BEBEBE;
}

div.scenarioIcon{
    display:flex;
    flex: 1;
}

div.scenarioStep{
    display:flex;
    align-items: flex-start;
}

span.scenarioStepKeyword{
    display:flex;
    margin-right: auto;
    margin-left:5px;
    margin-right:5px;
    color: #73879C;
    line-height: 1.471;
    font-weight: 700;
    font-size: 1.2em;
}

p2.scenarioStepName,
span.scenarioStepName{
    display:flex;
    margin-left:5px;
    margin-right:5px;
    color: #73879C;
}

.borderSolid{
    height: auto; 
    border:2px solid;
    background-color:white;
}

a.borderSolidBackIcon{
    border-right:2px solid;
    border-color: black;
}

span.scenarioOutlineCircle > p{
    background: inherit;
}

.scenarioOutlineHeaderTitle{
    background-color:white; 
    color:#5A738E; 
}

.reportTitle{
    border-bottom:2px solid; 
    margin-left: 18px; 
    margin-right: 18px;
}

.title{
    border:2px solid; 
    margin-left: 0px; 
    margin-right: 0px;
}

tr.featureCount{
    border:2px solid; 
    border-right:2px solid;
}

tr.chart{
    border:2px solid; 
    border-right:2px solid;
}

h2.scenarioTitle{
    background-color:white; 
    color:#5A738E;
}

p.progress{
    text-align: right; 
    padding-right:7px;
    margin-bottom:0px;
    background-color:white;
    border:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

p.chart{
    padding-left:50px;
}

.borderMetadata{
    height: auto; 
    /* height: 320px; */
    border:2px solid;
    background-color:white;
    margin-bottom: 20px;
    padding-bottom: 22px;
}

a.extraInfo{
    margin-left: 5px;
}

div.infoBlock{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

i.fa{
    /* line-height: normal; */
}
