<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Features overview</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="table-responsive">
                <table id="features-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Feature Name</th>
                        <th><i class="fa fa-tags fa-lg" title="Tags"></i></th>
                        <th>Status</th>
                        <% if(showExecutionTime){ %>
                        <th>Time</th>
                        <% }%>
                        <% var isMetadata = false; %>
                        <% var device = ""; %>
                        <% var deviceHeaderPainted = false; %>
                        <% var isDeviceData = false; %>
                        <% var deviceType = ""; %>
                        <% var deviceTypeHeaderPainted = false; %>
                        <% var isDeviceTypeData = false; %>
                        <% var platform = ""; %>
                        <% var platformHeaderPainted = false; %>
                        <% var isPlatformData = false; %>
                        <% var browser = ""; %>
                        <% var browserHeaderPainted = false; %>
                        <% var isBrowserData = false; %>
                        <% var app = "";%>
                        <% var appHeaderPainted = false; %>
                        <% var isAppData = false; %>
                        
                        <% var suiteFeaturesLength = suite.features.length; %>
                        <% for(var i = 0; i < suiteFeaturesLength; i++) { %>
                            <% var feature = suite.features[i]; %>
                            <% device = typeof feature.metadata.device !== 'undefined' ? feature.metadata.device.toLowerCase() : ""; %>
                            <% platform = typeof feature.metadata.platform !== 'undefined' ? feature.metadata.platform.name.toLowerCase() : ""; %>
                            <% browser = typeof feature.metadata.browser !== 'undefined' ? feature.metadata.browser.name.toLowerCase() : ""; %>
                            <% app = typeof feature.metadata.app !== 'undefined' ? feature.metadata.app.name : "";%>
                            <% if(device != "" && device != "not known"){ %>
                                <%    isMetadata = true; %>
                                <%    isDeviceData = true; %>
                            <%} %>

                            <% if(platform != "" && platform != "not known"){ %>
                                <%    isMetadata = true; %>
                                <%    isPlatformData = true; %>
                            <%} %>

                            <% if(browser != "" && browser != "not known"){ %>
                                <%    isMetadata = true; %>
                                <%    isBrowserData = true; %>
                            <%} %>

                            <% if(app != "" && app != "not known"){ %>
                                <%    isMetadata = true; %>
                                <%    isAppData = true; %>
                            <%} %>
                        <% } %>

                        <% _.each(suite.features, function(feature, featureIndex) { %>
                            <% var featureMetadaDevice = typeof feature.metadata.device !== 'undefined' ? feature.metadata.device.toLowerCase() : ""; %>
                            <% var featureMetadataPlatform = typeof feature.metadata.platform !== 'undefined' ? feature.metadata.platform.name.toLowerCase() : ""; %>
                            <% var featureMetadataBrowser =  typeof feature.metadata.browser !== 'undefined' ? feature.metadata.browser.name.toLowerCase() : ""; %>
                            <% var featureMetadataApp = typeof feature.metadata.app !== 'undefined' ? feature.metadata.app.name : "";%>

                            <% if (!deviceTypeHeaderPainted && (isMetadata || !disableMetadataIfnotPresent)) { %>                                
                                <% device = featureMetadaDevice; %>
                                <% deviceTypeHeaderPainted = true; %>
                                <th class="text-center">
                                    <i class="fa fa-desktop fa-lg"></i>
                                    <i class="fa fa-mobile fa-lg"></i>
                                </th>
                            <% } %>

                            <% if (!deviceHeaderPainted  && (isMetadata || !disableMetadataIfnotPresent)) { %>
                                <th>Device</th>
                                <% deviceHeaderPainted = true; %>
                                <% deviceType = feature.metadata.device.toLowerCase(); %>
                            <% } %>
                            
                            <% if (!platformHeaderPainted && (isMetadata || !disableMetadataIfnotPresent)) { %>
                                <th>OS</th>
                                <% platformHeaderPainted = true; %>
                                <% platform = feature.metadata.platform.name.toLowerCase(); %>
                            <% } %>
                            
                            <% if(!appHeaderPainted && (isAppData || !disableMetadataIfnotPresent)) { %>
                                <th>App</th>
                                <% appHeaderPainted = true; %>
                            <% } %>

                            <% if (!browserHeaderPainted && (isMetadata || !disableMetadataIfnotPresent)) { %>
                                <th>Browser</th>
                                <% browserHeaderPainted = true; %>
                            <% } %>
                        <% }); %>
                        <th>Total</th>
                        <th>Passed</th>
                        <th>Failed</th>
                        <% if(+suite.scenarios.pending > 0) { %>
                        <th>Pending</th>
                        <% } %>
                        <% if(+suite.scenarios.skipped > 0) { %>
                        <th>Skip</th>
                        <% } %>
                        <% if(+suite.scenarios.notdefined > 0) { %>
                        <th>Undefined</th>
                        <% } %>
                        <% if(+suite.scenarios.ambiguous > 0) { %>
                        <th>Ambiguous</th>
                        <% } %>
                    </tr>
                    </thead>

                    <tbody>
                    <% _.each(suite.features, function(feature, featureIndex) { %>
                        <% var featureMetadaDevice = typeof feature.metadata.device !== 'undefined' ? feature.metadata.device.toLowerCase() : ""; %>
                        <% var featureMetadataPlatform = typeof feature.metadata.platform !== 'undefined' ? feature.metadata.platform.name.toLowerCase() : ""; %>
                        <% var featureMetadataBrowser = typeof feature.metadata.browser !== 'undefined' ? feature.metadata.browser.name.toLowerCase() : ""; %>                                                        
                    <tr>
                        <td>
                            <a href="features/<%= feature.id %>.html"><%= feature.name %></a>
                        </td>
                        <td class="text-center">
                            <% if (feature.tags) { %>
                            <% var amount = feature.tags.length; %>
                            <% var tags = _.reduce(feature.tags, (tags, tag) => tags + tag.name + ' ', ''); %>
                            <% if (amount > 0 ){ %>
                            <i class="fa fa-tag<% if(amount > 1 ) {%>s<% } %> fa-lg" data-toggle="tooltip" data-placement="top"
                               title="<%= tags.trim() %>">
                                <span><%= tags.trim() %></span>
                            </i>
                            <% } %>
                            <% } %>
                        </td>
                        <td class="text-center">
                            <% var statusIcon; %>
                            <% var status; %>
                            <% if (feature.isFailed) { %>
                            <% status = 'Failed'; %>
                            <% statusIcon = 'exclamation-circle failed-color'; %>
                            <% } else if (feature.isAmbiguous) { %>
                            <% status = 'Ambiguous'; %>
                            <% statusIcon = 'flash ambiguous-color'; %>
                            <% } else { %>
                            <% status = 'Passed'; %>
                            <% statusIcon = 'check-circle passed-color'; %>
                            <% } %>
                            <i class="fa fa-<%= statusIcon %> fa-lg" data-toggle="tooltip" data-placement="top" title="<%= status %>">
                                <span><%= statusIcon %></span>
                            </i>
                        </td>
                        <% if(showExecutionTime){ %>
                            <td><%= feature.time %></td>
                        <% }   %>
                        <% if (isMetadata || !disableMetadataIfnotPresent) { %>
                            <td class="text-center">
                                <% var deviceType; %>
                                <% var deviceIcon; %>
                                <% if (['android','ios'].indexOf(featureMetadataPlatform) > -1 ) { %>
                                <% deviceType = 'Mobile / Tablet'; %>
                                <% deviceIcon = 'mobile'; %>
                                <% } else if (['windows', 'osx', 'linux', 'ubuntu'].indexOf(featureMetadataPlatform) > -1) { %>
                                <% deviceType = 'Desktop'; %>
                                <% deviceIcon = 'desktop'; %>
                                <% } else { %>
                                <% deviceType = 'Not known'; %>
                                <% deviceIcon = 'question-circle not-defined-color'; %>
                                <% } %>
                                <i class="fa fa-<%= deviceIcon %> fa-lg" data-toggle="tooltip" data-placement="top" title="<%= deviceType %>">
                                    <span><%= deviceIcon %></span>
                                </i>
                            </td>
                        <% } %>
                        <% if (isMetadata || !disableMetadataIfnotPresent) { %>   
                            <td>
                                <% var device; %>
                                <% if (feature.metadata.device === 'not known' || feature.metadata.device === '') { %>
                                <% device = '<i class="fa fa-question-circle not-defined-color fa-lg"></i> not known'; %>
                                <% } else { %>
                                <% device = feature.metadata.device; %>
                                <% } %>
                                <%= device %>
                            </td>
                        <% } %>
                        <% if (isMetadata || !disableMetadataIfnotPresent) { %>   
                            <td>
                                <% var platformName; %>
                                <% if (featureMetadataPlatform === 'ios' || featureMetadataPlatform === 'osx') { %>
                                <% platformName = 'apple'; %>
                                <% } else if (featureMetadataPlatform === 'android') { %>
                                <% platformName = 'android'; %>
                                <% } else if (featureMetadataPlatform === 'windows') { %>
                                <% platformName = 'windows'; %>
                                <% } else if (featureMetadataPlatform === 'ubuntu' || featureMetadataPlatform === 'linux') { %>
                                <% platformName = 'linux'; %>
                                <% } else { %>
                                <% platformName = 'question-circle not-defined-color'; %>
                                <% } %>
                                <i class="fa fa-<%= platformName%> fa-lg"><span><%= platformName %></span></i>
                                <%= feature.metadata.platform.version %>
                            </td>
                        <% } %>

                        <% if(isMetadata || !disableMetadataIfnotPresent) { %>
                            <td>
                                <% if(feature.metadata.app) { %>
                                <%= feature.metadata.app.name %> <br>V: <%= feature.metadata.app.version %>
                                <% } %>
                            </td>
                        <% } %>
                        
                        <% if (isMetadata || !disableMetadataIfnotPresent) { %>   
                            <td>
                                <% var browserIcon; %>
                                <% if (['firefox', 'safari', 'chrome', 'edge'].indexOf(featureMetadataBrowser) > -1) { %>
                                <% browserIcon = featureMetadataBrowser; %>
                                <% } else if (featureMetadataBrowser === 'internet explorer'){ %>
                                <% browserIcon= "internet-explorer"; %>
                                <% } else { %>
                                <% browserIcon = 'question-circle not-defined-color'; %>
                                <% }%>
                                <i class="fa fa-<%= browserIcon %> fa-lg"><span><%= featureMetadataBrowser %></span></i>
                                <%= feature.metadata.browser ? feature.metadata.browser.version : 'undefined' %>
                            </td>
                        <% } %>
                        
                        <td><%= feature.scenarios.total %></td>
                        <td><%= feature.scenarios.passed %></td>
                        <td><%= feature.scenarios.failed %></td>
                        <% if(+suite.scenarios.skipped > 0) { %>
                        <td><%= feature.scenarios.skipped %></td>
                        <% } %>
                        <% if(+suite.scenarios.pending > 0) { %>
                        <td><%= feature.scenarios.pending %></td>
                        <% } %>
                        <% if(+suite.scenarios.notdefined > 0) { %>
                        <td><%= feature.scenarios.notdefined %></td>
                        <% } %>
                        <% if(+suite.scenarios.ambiguous > 0) { %>
                        <td><%= feature.scenarios.ambiguous %></td>
                        <% } %>
                    </tr>
                    <% }); %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>