<% if (scenario.tags) { %>
    <div class="tags">
        <% var amount = scenario.tags.length; %>
        <% if (amount > 0 ){ %>
        <i class="fa fa-tag<% if(amount > 1 ) {%>s<% } %> fa-lg"></i>
        <% _.each(scenario.tags, (tag) => {%>
            <span class="tag"><%= tag.name %></span>
        <%}); %>
        <% } %>
    </div>
<% } %>