name: Release to NPM and GitHub

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release Type"
        required: true
        type: choice
        options:
          - "major"
          - "minor"
          - "patch"
        default: "patch"
      pre-release:
        description: Is this a pre-release?
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ env.PUSH_TOKEN }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies and Upgrade NPM
        run: |
          npm install -g npm
          npm -v
          pnpm install

      - name: Build Project
        run: pnpm build
        working-directory: reporter

      - name: Release
        if: ${{ ! inputs.pre-release }}
        run: pnpm release.${{ github.event.inputs.release-type }}
        working-directory: reporter

      - name: Pre Release
        if: ${{ inputs.pre-release }}
        run: pnpm release.pre${{ github.event.inputs.release-type }}
        working-directory: reporter
